.about {
    display: flex;
    flex-direction: row;
    margin: 2% 3% 3%  3%;
    font-size: 18px;
}

.paragraph {
    margin:1% ;
    padding-left: 2%;
    border-left: solid 6px lightgray;

}



.about-list {
    font-style: italic;
}

@media screen and (max-width: 1200px) {

.about {
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 100%;
}

.kyle 
{
  justify-items: center;
  justify-content: center;
  align-items: center;


}
.paragraph {
    border-top: solid 6px lightgray;
    border-left: none;
    width: 100%;
}
}



 @media screen and (max-width: 1200px) {


    .kyle
    {
        width: 360px;
        height: 420px;
   
    
    }
 width: 720px;
}
    