.about {
    display: flex;
    flex-direction: row;
    margin: 2% 3% 3%  3%;
    font-size: 18px;
}

.paragraph {
    margin:1% ;
    padding-left: 2%;
    border-left: solid 6px lightgray;

}


.about-list {
    font-style: italic;
}

@media screen and (max-width: 1200px) {

.about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;

}


.paragraph {
    border-top: solid 6px lightgray;
    border-left: none;
}
}



 @media screen and (max-width: 720px) {


    .kyle
    {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 360px;
    }

    .paragraph {
        margin:1% ;
        padding-left: 0;
   
    }

}
    