.about {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 2% 3% 3%  3%;
}



.paragraph {
    margin:1% ;
    width: 100%;
    border-left: solid 6px lightgray;
}


.about-list {
    text-align: left;
    font-style: italic;
}

@media screen and (max-width: 1200px) {

.about {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: 2%;

}

.kyle 
{
  display: flex;
  justify-items: left;
  align-items: center;

}
.paragraph {
    border-top: solid 6px grey;
    border-left: none;
}
}

@media screen and (max-width: 720px) {
   
    .paragraph {
        border-top: solid 6px grey;
        border-left: none;
    }
    
    }