.carousel {
  display: flex;
  height: 790px;
  padding-inline: 0.3%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 11px 3px rgba(14, 2, 2, 0.15);
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.15);
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}

.carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.card_image {
  width: 100%;
  object-fit:fill;
}

.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
  justify-content: center;
}

.card_title {
  color: white;
  font-size: 50px;
  margin: 50px;

}

.carousel_arrow_left,
.carousel_arrow_right {
  position: absolute;
  font-size: 100px;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
  cursor: pointer;
}

.carousel_arrow_left {
  left: 15px;
}

.carousel_arrow_right {
  right: 15px;
}

.carousel_pagination {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination_dot {
  height: 15px;
  width: 15px;
  border: solid 2.5px white;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.pagination_dot:hover {
  transform: scale(1.2);
}

.pagination_dot-active {
  background-color: steelblue;
}


@media screen and (max-width: 1200) {

  .carousel {
    display: flex;
    height: 480px;
 
  }
  .card_title {
    color: white;
    font-size: 35px;
    margin: 25px;
  
  }

  }



@media screen and (max-width: 768px) {

  .carousel {
    display: flex;
    height: 360px;
 
  }

  .card_title {
    color: white;
    font-size: 35px;
    margin: 25px;
  
  }

}