.footer-link-items {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  padding-inline: 20%;
  height: 100px;

}


@media screen and (max-width: 820px) {

  .footer-input {
    width: 100%;
  }

}
