
p, .image {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 5px;
}

h2, h3 {
    text-align: center;
    text-decoration: underline;
  }

.home {
padding-inline: 0.3%;

}

.home1, .home2, .home3, .home4 {
  border: solid 1px;
  border-radius: 10px;
  margin-top: 5px;

}

.home1 {
  background-color: #49121d;
  color:antiquewhite;

}

.home2{
  background-color: grey;

}

.home3 {
  background-color: #E04C6A;

}

.home4 {
  background-color: #1798a3;
  
}
